body {
    font-family: Arial;
    background: #a100009f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background: lightblue;
}

#next-btn {
    margin-top: 10px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}